-SourceToolsList @("policheck","credscan")
-TsaInstanceURL https://devdiv.visualstudio.com/
-TsaProjectName DEVDIV
-TsaNotificationEmail juanam@microsoft.com
-TsaCodebaseAdmin REDMOND\juanam
-TsaBugAreaPath DevDiv\NET Fundamentals\Winforms\Runtime\Core
-TsaIterationPath DevDiv
-TsaRepositoryName Winforms
-TsaCodebaseName Winforms
-TsaOnboard $True
-TsaPublish $True